.center{
    text-align: center;
}

textarea{
    width: 80%;
}

form input[type="submit"].sub{
    vertical-align: top;
    width: 17%;
    height: 54px;
    border: none;
    margin-left: 2%;
    border-radius: 30px;
    cursor: pointer;
}

form.stickbottom{
    position: fixed;
    width: 100%;
    bottom: 0%;
    left:0;
    padding: 0 5%;
}